html {
    font-size: 16px;
}

body {
    margin: 0;
}

.login {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #001124;
}

.login-img {
    display: flex;
    align-items: center;
    width: 40%;
}

.login-img img {
    width: 100%;
    height: 60vh;
}

.login-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    height: 55vh;
}

.login-title,
.reg-title {
    font-family: 'DM Serif Display';
    font-size: 2.7rem;
    line-height: 62px;
}

label {
    font-family: 'Padauk';
    font-size: 1.25rem;
    line-height: 29px;
}

input {
    width: 350px;
    height: 30px;
}

input[value="Login"] {
    width: 180px;
    height: 43px;
    background: #015FC7;
    font-family: 'Padauk';
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 40px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.login-link {
    font-family: 'Padauk';
    font-size: 1.25rem;
    line-height: 29px;
    margin-bottom: 10px;
}

.login-link a {
    color: #499FFE;
    text-decoration: none;
}

/* ----------reg------------------------------------------ */
.registration {
    background-color: #001124;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
}

.reg-form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 15%;
}

.reg-wrapper form:nth-child(2) {
    display: flex;
    justify-content: center;
}

input[value="Submit"] {
    width: 180px;
    height: 43px;
    background: #015FC7;
    font-family: 'Padauk';
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 40px;
    text-align: center;
    border: none;
    border-radius: 5%;
    color: #FFFFFF;
    margin-top: 5%;
    cursor: pointer;
}

/* ---------------intake----------------------------------- */
.intake {
    font-family: 'Public Sans';
    font-weight: 500;
    color: #171717;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    box-sizing: border-box;
}

label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

select {
    width: 400px;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    appearance: none;
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

/* ------------intake title------------------- */
.intake-title {
    margin-bottom: 2%;
}

.intake-title :nth-child(1) {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 28px;
    margin-bottom: 7%;
}

.intake-title :nth-child(2) {
    font-weight: 400;
    font-size: 0.9rem;
}

.intake-title :nth-child(2)::before {
    content: "*";
    color: #D83933;
}

/* -----------intake first block---------------------- */
.intake-first {
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #D1D1D1;
}

.intake-first form {
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}

.intake-first form span {
    margin-bottom: 2%;
}

.intake-subtitle {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    margin-bottom: 32px;
}

label[for="intakeType"]::after {
    content: "*(select)";
    color: #D83933;
}

input {
    width: 392px;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}

input[id="intakeType"],
input[id="applicationRegistration"],
input[id="ExemptFromPaternity"],
input[id="EnrollmentStatus"] {
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

input[disabled] {
    font-weight: 400;
    font-size: 1rem;
    color: #747474;
}

label[for="appcategory"]::after {
    content: "*";
    color: #D83933;
}

input[placeholder] {
    font-weight: 400;
    font-size: 1rem;
}

input[placeholder="Child Support"] {
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

input[id="applicationRegistration"] {
    color: #0050D8;
    font-size: 1rem;
    text-transform: uppercase;
}

label[for="applicationRegistration"]::after {
    content: "(Optional)";
    font-size: 0.9rem;
}

.intake-first>form span:nth-child(8) {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.first-checkbox {
    display: flex;
    align-items: center;
    margin-left: 5%;
    padding-top: 3%;
}

label[for="additionalRequestedDate"]::after {
    content: "(Optional)";
    font-size: 0.9rem;
}

input[id="checkboxOne"] {
    width: 25px;
}

.second-checkbox {
    display: flex;
    align-items: center;
    width: 50%;
}

input[id="checkboxTwo"] {
    width: 25px;
    margin: 0;
    margin-right: 5px;
}

input[type="checkbox"] {
    accent-color: #FF00FF;
}

/* ------------------intake second----------------------------------- */
.intake-second {
    border-bottom: 1px solid #D1D1D1;
    padding: 32px 0;
}

.intake-second form {
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}

.third-checkbox {
    display: flex;
    align-items: center;
    width: 50%;
}

input[id="checkboxThree"] {
    width: 25px;
    margin: 0;
    margin-right: 5px;
}

label[for="checkboxThree"] {
    width: 90%;
}

label[for="bioParent"]::after {
    content: "(Optional)";
    font-size: 0.9rem;
}

input[id="bioParent"] {
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

/* -----------intake Third----------------------- */
.intake-third {
    border-bottom: 1px solid #D1D1D1;
    padding: 32px 0;
}

.intake-third form {
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}

.intake-third form span {
    margin-bottom: 2%;
}

.intake-third form span input {
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

.intake-third form span:nth-child(8) input,
.intake-third form span:nth-child(10) input {
    background-image: url(../img/Vector3.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

.intake-third form span:nth-child(3) label::after,
.intake-third form span:nth-child(4) label::after,
.intake-third form span:nth-child(5) label::after,
.intake-third form span:nth-child(6) label::after,
.intake-third form span:nth-child(9) label::after,
.intake-third form span:nth-child(11) label::after {
    content: "(Optional)";
    font-size: 0.9rem;
}

.intake-third form span:nth-child(7) label::after {
    content: "(details)";
    font-size: 0.9rem;
}

label[for="caseCategory"]::after {
    content: "(Select)";
    font-size: 0.9rem;
}

label[for="IV-DIndicator"]::after {
    content: "*";
    color: #D83933;
}

/* ----------intake Fourth----------------------- */
.intake-fourth {
    border-bottom: 1px solid #D1D1D1;
    padding: 32px 0;
}

.intake-fourth form {
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}

.intake-fourth form span:nth-child(1) input,
.intake-fourth form span:nth-child(2) input,
.intake-fourth form span:nth-child(3) input,
.intake-fourth form span:nth-child(4) input {
    background-image: url(../img/Vector3.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

.intake-fourth form span:nth-child(2) label:after,
.intake-fourth form span:nth-child(3) label:after,
.intake-fourth form span:nth-child(4) label:after{
    content: "(Optional)";
    font-size: 0.9rem;
}

input[id="owner"]{
    color: #0050D8;
    text-transform: capitalize;
    font-size: 1rem;
}
/* ---------- */
.intake-button{
    margin-top: 16px;
    width: 70%;
    display: flex;
    justify-content: right;
}
input[value="Next"] {
    width: 70px;
    height: 40px;
    background: #0050D8;
    font-family: 'Public Sans';
    font-size: 1rem;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
