body {
    width: 100%;
    margin: 0;
    font-size: 10px;
    font-family: 'Inika', serif;
}

.header {
    width: 100%;
    text-align: center;
    font-family: 'M PLUS 1';
    font-size: 4.8em;
    letter-spacing: 0.1em;
    color: #3E45E8;
}

.header>:nth-child(2) {
    color: #E8C23E;
}

.banner {
    width: 100%;
    min-height: 760px;
    background-image: url(/img/1444411287_oboyi-na-robochiy-stl-ukrayina-8\ 1.svg);
    background-size: cover;
}

.banner_content {
    width: 80%;
    box-sizing: border-box;
    padding: 15% 8%;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 4.8em;
    color: #FFFFFF;
    background-image: url(/img/img_прапор.png);
    background-repeat: no-repeat;
    background-position: 5%;
}

.headline {
    margin: 5% 0 0 5%;
    font-weight: 700;
    font-size: 4em;
    line-height: 157.3%;
    color: #000000;
}

.flag {
    display: flex;
}

.flag_line_one {
    display: inline-block;
    width: 30%;
    height: 15px;
    background: linear-gradient(90deg, #00E0FF 0%, #1400FF 100%);
}

.flag_line_two {
    display: inline-block;
    width: 30%;
    height: 15px;
    background: linear-gradient(90deg, #FFA800 0%, rgba(255, 245, 0, 0) 100%);
}

.card {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.card_img {
    width: 100%;
    max-height: 70%;
    border-radius: 30px 30px 10px 10px;
}

.card_title {
    margin-left: 5px;
    font-weight: 700;
    font-size: 2.4em;
    line-height: 157.3%;
    color: #0072DB;
}

.card_text {
    margin-left: 5px;
    font-weight: 400;
    font-size: 2em;
    line-height: 157.3%;
    color: #FF9900;
}

.card_one,
.card_two,
.card_three {
    width: 25%;
    border: 4px solid #0D095F;
    border-radius: 30px;
}

.card_one {
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.45);
}

.card_two {
    box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.45);
    ;
}

.card_three {
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.45);
}

.headline_two {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    line-height: 157.3%;
    color: #000000;
}

.underline {
    margin: 0 auto;
    width: 60%;
    height: 7px;
    background: #1400FF;
}

.picture {
    text-align: center;
    margin-top: 30px;
}

.button {
    display: flex;
    height: 121px;
    width: 591px;
    background-color: #2A61F0;
    margin: 50px auto;
    font-size: 6.4em;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    text-decoration: none;
}

.footer {
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    text-align: center;
}

.footer_tag {
    width: 100%;
    font-family: 'M PLUS 1';
    font-size: 4.8em;
    letter-spacing: 0.1em;
    color: #3E45E8;
}

.footer_tag>:nth-child(2) {
    color: #E8C23E;
}

.email, .tel {
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-size: 3.6em;
    line-height: 45px;
    letter-spacing: 0.1em;
}

.email a:link, .tel a:link {
    color: #A89D9D;
    text-decoration-line: none;
}
.social{
    margin: 0 auto;
    width: 15%;
    display: flex;
    justify-content:space-around;

}