html {
    font-size: 10px;
}

body {
    width: 100%;
    background-color: #f5e6e6;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 90px;
    background-color: #243B93;
    box-sizing: border-box;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_image {
    padding-top: 10px;
    padding-left: 138px;
    float: left;
}
.header_menu ul {
    display: flex;
    position: relative;
    text-align: center;
    height: 90px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    color: #FFFFFF;
    list-style-type: none;
    align-items: center;
}

ul li {
    padding-right: 54px;

}

li:hover {
    color: #AEAEE2;
}

ul>li:nth-child(1) {
    padding-left: 190px;
}

.lang {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang_image {
    padding-right: 16px;
}

.lang_selector {
    width: 35px;
    height: 36px;
    right: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.2rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(48, 12, 106, 0.3);
    position: fixed;
    z-index: 1;
    bottom: 100px;
    right: 10px;
}

.home:hover {
    background: rgba(48, 12, 106);
}
.title {
    max-width: 100%;
    height: 100px;
    background-color: #BFF0FF;
    font-size: 4.4rem;
    font-style: italic;
    font-weight: 400;
    color: #202846;
    display: flex;
    align-items: center;
    padding-left: 138px;
}

.build {
    width: 100%;
    padding-left: 5%;
}

.select {
    width: 90%;
    height: 73px;
    background-color: #FFFFFF;
    font-size: 2.8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 61%);
    margin: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card1,
.card2,
.card3,
.card4 {
    width: 90%;
    height: 300px;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.card2,
.card4 {
    margin: 36px 0 36px;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.card__img {
    width: 35%;
    height: 80%;
    overflow: hidden;
}

.card__img img {
    height: 100%;
}

.card__content {
    width: 50%;
    height: 80%;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 1rem;
    color: #353C57;
}

.card__content-description {
    overflow: hidden;
    height: 75%;
    font-size: 2.2rem;
    text-align: left;
    background-color: #EDFBFF;
    padding: 1rem 1.6rem;
    box-sizing: border-box;
    color: #202846;
}

.card-star,
.card-btn {
    position: absolute;
}

.card-star {
    right: 1rem;
    top: 1rem
}

.card1:hover .card-star path,
.card2:hover .card-star path,
.card3:hover .card-star path,
.card4:hover .card-star path {
    fill: yellow;
}

.card-btn {
    bottom: 10px;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.card1:hover .card-btn,
.card2:hover .card-btn,
.card3:hover .card-btn,
.card4:hover .card-btn {
    background-color: #EF075B;
}

.footer {
    display: flex;
    position: relative;
    height: 90px;
    width: 100%;
    background-color: #243B93;
    color: #EEECF1;
    font-size: 1.6rem;
    letter-spacing: 0.16rem;
}

.footer_text {
    position: absolute;
    top: 21px;
    left: 60px;
}