body {
    font-family: 'Roboto';
}

.navbar-container {
    padding: 0 7%;
}

.nav-button {
    width: 110px;
}

.nav-badge {
    border-radius: 50%;
    margin-left: 5%;
}

.carousel-container {
    padding: 0;
}

.carousel-container .carousel-item {
    height: 35vh;
}

.carousel-container .carousel-item img {
    object-fit: cover;
}

.card-container {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
}

.my-card {
    height: 450px;
    display: flex;
    align-items: center;
}

.my-title {
    font-weight: 700;
}

.my-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.my-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: 'Roboto';
}

footer {
    height: 120px;
    background: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}