#img2,
#img3 {
    display: none;
}

#img3 {
    width: 425px;
    height: 280px;
}

div[id="tenP"] {
    background-color: unset;
}

#tenP p {
    height: 20px;
    width: 150px;
    background-color: #5f9ea0;
    text-align: center;
    color: darkblue;
}


.big-container{
    background-color: #5f9ea0;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;

}
#list {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: antiquewhite;
}

.input-container {
    display: flex;
    flex-direction: column;
}