body {
    text-align: center;
    font-size: 10px;
    margin: 0;
    font-family: 'Montserrat';
    color: white;
}

.background {
    margin: 0 auto;
    width: 40em;
    height:50em;
    background-color: black;
}

.image {
    padding-top: 1.3em;
}

.text {
    margin-top: 1em;
    font-size: 2.9em;
    letter-spacing: 0.39em;
}

.button_1, .button_2 {
    display: block;
    margin: 0 auto;
    width: 70%;
    border: 4px solid white;
    color: white;
    line-height: 2.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 800;
    letter-spacing: 0.12em;
}
.button_2{
    margin-top: 1.5em;
}