@keyframes img_two_show_left {
    from {
        transform: translateX(-110vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes img_two_show_right {
    from {
        transform: translateX(110vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes img_show_left {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes img_show_right {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes left1 {
    from {
        top: 0%;
        left: 0%;
    }

    25% {
        top: 0%;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 0%;
    }

    to {
        top: 0%;
        left: 0%;
    }
}

@keyframes left2 {
    from {
        top: 0%;
        left: 50%;
    }

    25% {
        top: 50%;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 0%;
    }

    75% {
        top: 0%;
        left: 0%;
    }

    to {
        top: 0%;
        left: 50%;
    }
}

@keyframes left3 {
    from {
        top: 50%;
        left: 0%;
    }

    25% {
        top: 0%;
        left: 0%;
    }

    50% {
        top: 0%;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 50%;
    }

    to {
        top: 50%;
        left: 0%;
    }
}

@keyframes left4 {
    from {
        top: 50%;
        left: 50%;
    }

    25% {
        top: 50%;
        left: 0%;
    }

    50% {
        top: 0%;
        left: 0%;
    }

    75% {
        top: 0%;
        left: 50%;
    }

    to {
        top: 50%;
        left: 50%;
    }
}