:root {
    font-size: 10px;
}

body {
    margin: 0;
}

header {
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.header_logo {
    align-self: stretch;
}

.header_logo img {
    background-color: white;
    height: 100%;
}

.nav {
    margin: 0;
    padding: 0;
    margin-right: 2rem;
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 3.6rem;
    font-weight: 700;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
}

.nav a:hover {
    color: rgba(200, 70, 220, 0.5);
}

.screen_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}
/* -----------screen1------------------- */
.screen {
    height: 90vh;
    /* border: 5px solid blue; */
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-around;
}

.box>div>img {
    width: 100%;
}

/* -----крайні картинки-------- */
.left_one,
.right_one {
    width: 19%;
    align-self: center;
}

.left_one {
    animation: img_two_show_left 2s linear 1 forwards;
}

.right_one {
    animation: img_two_show_right 2s linear 1 forwards;
}

/*-------центральні картинки---------- */
.left_two,
.right_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24%;
}

.left_two {
    animation: img_show_left 1s linear 1 forwards;
}

.right_two {
    animation: img_show_right 1s linear 1 forwards;
}

.left_two>img:first-child,
.right_two>img:first-child {
    margin-bottom: 5%;
}

/* --------screen2-------------------------------------------------------------------------------- */
.screen_services {
    display: flex;
    flex-direction: row;
    height: 90vh;
    /* border: 5px solid slateblue; */
}

.services_left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
}

.services_left>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    box-sizing: border-box;
    /* border: 1px solid red; */
    position: absolute;
}

.services_left>div>img {
    width: 55%;
}

.content {
    text-align: center;
    font-weight: 700;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-size: 3rem;
    line-height: 58px;
}

.left-one {
    top: 0%;
    left: 0%;
    animation: left1 10s linear infinite;
}

.left-two {
    top: 0%;
    left: 50%;
    animation: left2 10s linear infinite;
}

.left-three {
    top: 50%;
    left: 0%;
    animation: left3 10s linear infinite;
}

.left-four {
    top: 50%;
    left: 50%;
    animation: left4 10s linear infinite;
}

.services_right {
    width: 50%;
    display: flex;
}

.services_right img {
    width: 100%;
}

/* --------screen3------------------------------------------------------------------------ */
.screen_team {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 90vh;   
}

.title {
    display: flex;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 8.6rem;
    justify-content: center;
}

.team {
    display: flex;
    justify-content: space-evenly;
}

.team>div {
    width: 22%;
    position: relative;
}

.team>div>img {
    width: 100%;
    height: 100%;
}

.team:hover>div {
    filter: brightness(.5);
}

.team>div:hover {
    filter: none;
}

.team .name {
    display: flex;
    position: absolute;
    background: rgba(200, 70, 220, 0.5);
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 2.6rem;
    justify-content: center;
    align-items: center;
    transition: height 1s;
    border-radius: 0 0 30px 30px;
}

.team>div:hover .name {
    height: 20%;
}

/* ---------screen4------------------------------------------------------------------------ */
.contact_top {
    display: flex;
    height: 65vh;
    width: 100%;
    font-family: 'Rosario';
    /* background-color: aqua; */
}

.top_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.top_left_title {
    font-style: italic;
    font-weight: 700;
    font-size: 54px;
    line-height: 78px;
    text-align: center;
    width: 80%;
    height: 35%;
}

.top_left_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E5E5;
    height: 55%;
    width: 80%;
}

.top_left_form form:first-of-type {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.top_left_form form:last-of-type {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    height: 50%;
}

/* підганяємо розміри інпутів по ширині */
input[id="name"] {
    width: 35%;
}

input[id="email"] {
    width: 45%;
}

input[name="message"] {
    width: 90%;
}

/* стилізація інпутів */
.top_left_form input {
    font-family: 'Rosario';
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.7);
}

.top_right {
    display: flex;
    align-items: center;
    width: 40%;
}

.top_right iframe {
    /* border-radius: 25px; */
    width: 90%;
    height: 90%;
}

.contact_bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25vh;
    font-family: 'Rosario';
}

.column_one,
.column_two,
.column_three {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-style: italic;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 36px;
    align-items: center;
    text-align: center;
}

.column_one {
    width: 35%;
}

.column_one>div>span {
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
}

.column_one>div>a {
    text-decoration: none;
    color: black;
}

.column_one>div>a:hover {
    color: rgba(200, 70, 220, 0.5);
}

.column_two div {
    font-weight: 700;
    margin-bottom: 10%;
}

.column_three>div>span {
    font-weight: 700;
    font-style: normal;
}

.social {
    display: flex;
}

.social_img {
    margin-right: 10%;
}

.social_img img:hover {
    transform: scale(1.1);
}

.social_name {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.social_name>div>a {
    text-decoration: none;
    color: black;
}

.social_name>div>a:hover {
    color: rgba(200, 70, 220, 0.5);
}