html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #23242a;
    color: white;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 1%;
    background: #23242a;
}
.navbar_menu {
    width: 80%;
    display: flex;
    justify-content: center;
}

.navbar_menu ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: 600;
}

.navbar_menu li:hover {
    color: #FFB742;
    cursor: pointer;
}

.hire_me_button {
    width: 121px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    background: #FFB742;
    border-radius: 50px;
    color: black;
    font-weight: 700;
}

/* ----------------------------------------------- */
.hero {
    margin-top: 128px;
    width: 100%;
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
}

.hero :nth-child(1) {
    font-size: 2rem;
}

.hero :nth-child(1) a {
    color: #FFB742;
}

.hero :nth-child(2) {
    text-transform: capitalize;
    font-size: 2.5rem;
}

.hero :nth-child(3) {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.5rem;
}

/* ------------------------------------- */
.metrics {
    margin-top: 136px;
    display: flex;
    justify-content: space-evenly;
}

.metrics_experience,
.metrics_projects,
.metrics_clients {
    width: 30%;
    padding: 0 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
}

.metrics_experience div,
.metrics_projects div,
.metrics_clients div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
}

.metrics_experience div :nth-child(1),
.metrics_projects div :nth-child(1),
.metrics_clients div :nth-child(1) {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2rem;
    line-height: 40px;
}

.metrics_experience:hover,
.metrics_projects:hover,
.metrics_clients:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    color: black;
}

/* ----------------------------------- */
#about {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;

}

.about_img {
    display: flex;
    width: 40%;
}

.about_img img {
    width: 100%;
}

.about_content {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.about_title,
.skills_title,
.works_title,
.reviews_title {
    width: 121px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background: #383E45;
    border-radius: 50px;
    text-transform: uppercase;
    color: #FFB742;
    font-weight: 600;
}

.about_text :nth-child(1),
.skills_text :nth-child(1),
.works_text :nth-child(1),
.reviews_text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.about_text :nth-child(2),
.skills_text :nth-child(2) {
    width: 75%;
    font-weight: 400;
    line-height: 30px;
    color: #D5D5D5;
    margin-bottom: 50px;
}

/* ------ */
#skills {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 90%;
}

.skills_content {
    width: 50%;
}

.skills_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    height: 10%;
    gap: 16px;
}

.skills_logo div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #383E45;
    border-radius: 10px;
}

.skills_logo div:hover {
    background: rgba(255, 183, 66, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* --------------------- */
#works {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    background: #23242a;
}

.works_title {
    margin: 0 auto;
}

.works_nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.works_nav ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-weight: 600;
}

.works_nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 25%;
}

.works_nav ul li:hover {
    width: 25%;
    background: #FFB742;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
}

.works_image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.works_image_1,
.works_image_2,
.works_image_3 {
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 25%;
}
.works_image_1 img,
.works_image_2 img,
.works_image_3 img{
    width: 100%;
}

.works_image_1 :nth-child(1),
.works_image_2 :nth-child(1),
.works_image_3 :nth-child(1) {
    margin-bottom: 2%;
}

/* ---------------------------- */
.reviews {
    display: flex;
    flex-direction: column;
}

.reviews_title {
    margin: 150px auto 0;
}

.reviews_text {
    margin: 0 auto;
    font-size: 2.5rem;
    margin-bottom: 100px;
}

.reviews_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reviews_block_1,
.reviews_block_2,
.reviews_block_3 {
    width: 30%;
    background: #FFFFFF;
    border-radius: 8px;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-sizing: border-box;
}

.reviews_block_1_customer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
}

.reviews_block_1_customer div:nth-child(1) {
    margin-right: 10%;
}

.reviews_block_1_customer span:nth-child(1) {
    display: flex;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 34px;
    color: #000000;
}

/* -------------------------------------------------- */
.footer {
    margin-top: 100px;
    padding: 5% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1C1C1C;
    height: 200px;
}

.footer_content {
    width: 25%;
    font-family: 'Work Sans';
    font-weight: 600;
    color: #D4D4D4;
}

.footer_content div:nth-child(1) {
    width: 100%;
    font-weight: 700;
    font-size: 2rem;
    color: #FFB742;
    margin-bottom: 5%;
}

.footer_links div:nth-child(1),
.footer_social div:nth-child(1),
.footer_news div:nth-child(1) {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 1.4rem;
    color: #F5FBF2;
    line-height: 32px;
}

.footer_links div a,
.footer_social div a,
.footer_news div {
    font-family: 'Work Sans';
    font-weight: 500;
    text-decoration: none;
    color: #7B7B7B;
    line-height: 36px;
}
.footer_links div a:hover,
.footer_social div a:hover{
    color: #FFB742;
}