body{
    margin: 0;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    width: 45%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
}

#pagination, #paginationTwo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination-link {
    margin: 0 5px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.pagination-link.active {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    font-weight: bold;
    color: rgb(37, 218, 106);
}