header {
    display: flex;
    width: 800px;
    height: 200px;
    border: 4px solid red;
    align-items: center;
    justify-content: center;
    text-align: center;

}

nav {
    display: inline-block;
    width: 100px;
    height: 400px;
    border: 2px solid orange;
}

section {
    display: inline-block;
    width: 700px;
    height: 400px;
    border: 2px solid orange;
}

footer {
    margin: -4px 0;
    width: 800px;
    height: 200px;
    border: 4px solid gray;
}