* {
    font-size: 1.3rem;
}

pre {
    background: silver;

}

.green {
    color: green;
}

li:nth-child(odd) {
    background: #e1e6e5;
    margin: 1rem 0;
}

@keyframes change {
    from {
        background-color:green;
    }
    50%{
        background-color:lightgreen
    }
    to {
        background-color: transparent;
    }
}